main.artist-content {
  margin: 1rem;
  .artist-detail {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 3rem;
    background-image: url("/images/backgrounds/W2N_yellow_bg.jpg");
    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
    img {
      width: 100%;
      margin: 0 auto;
    }
    .content {
      h1 {
        font-family: "Sometimes-Times";
      }
      .body {
        font-family: "Zetkin-Wide";
      }
    }
  }
}
