main.artist-content {
  padding: 3rem 2rem;
  @include media-breakpoint-down(sm) {
    padding: 1rem 1rem;
  }
  .artist-detail {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1000px;
    background-image: url("/images/backgrounds/W2N_yellow_bg.jpg");
    border: 15px solid white;
    box-shadow: 8px 8px 0px $drop-blue;
    @include media-breakpoint-down(sm) {
      height: calc(100vh - 6rem);
    }

    .top {
      display: grid;
      grid-template-columns: 3fr auto;
      @include media-breakpoint-down(sm) {
        grid-template-columns: 1fr;
      }
      .overlay {
        background-image: url("/images/backgrounds/W2N_edges.png");
      }
      img {
        width: 100%;
        margin: 0 auto;
        border: 15px solid white;
        box-shadow: 8px 8px 0px $drop-blue;
        box-sizing: border-box;
      }
      .cta-container {
        grid-template-rows: min-content;
      }
      .go-back,
      .cta-container {
        display: grid;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
    .bottom {
      display: grid;
      height: 100%;
      padding-left: 1rem;
      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
      h1 {
        font-family: "Sometimes-Times";
      }
      .body {
        font-family: "Zetkin-Wide";
      }

      .cta-container {
        justify-content: stretch;
        text-align: center;
        width: 100%;
        margin-top: auto;
      }
      .go-back,
      .cta-container {
        display: none;
        @include media-breakpoint-down(sm) {
          display: grid;
        }
      }
    }
  }
  .go-back {
    font-family: "Zetkin-Wide";
    text-decoration: none;
    margin-top: 1rem;
    padding-left: 1rem;
    grid-template-rows: min-content;
  }
}
