.artists-container {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
  margin: 0;
  justify-content: flex-start;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
  @include media-breakpoint-down(sm) {
    padding: 0 4rem;
  }
  h2 {
    font-family: "Sometimes-Times";
    font-size: 3.5rem;
    font-style: italic;
    margin: 0 auto;
    margin-bottom: 2rem;
    @extend %heading-texture;
  }
  p {
    font-family: "Sometimes-Times";
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    padding: 3em;
    @extend %heading-texture;
  }
  .artists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1.8rem;
    grid-row-gap: 2rem;
    margin: 0 auto;

    .artist-panel {
      a {
        background-image: url(/images/backgrounds/W2N_yellow_bg.jpg);
        @extend %border-texture;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        text-decoration: none;
        padding: 1rem;
        box-shadow: 8px 8px 0px $drop-blue;
        position: relative;
        overflow: hidden;

        .artist-image {
          overflow: hidden;
          img {
            @extend %border-texture;
            width: 100%;
            box-sizing: border-box;
          }
        }
        .artist-content {
          h3 {
            font-family: "Sometimes-Times";
            font-style: italic;
            font-size: 2.5rem;
            margin: 0;
            margin-top: 0.3rem;
            @extend %heading-texture;
            @include media-breakpoint-down(sm) {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
