div.cta-container {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  #buy-splash {
    text-decoration: none;
    background-image: url(/images/backgrounds/W2N_yellow_bg.jpg);
    padding: 1rem 3rem;
    font-family: "Sometimes-Times";
    font-size: 30px;
    box-shadow: 8px 8px 0px $drop-blue;
    @extend %border-texture;
    cursor: pointer;
    outline: none;
  }
}
