div.cta-container {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  #buy-splash {
    text-decoration: none;
    border: 15px solid white;
    border-radius: 3px;
    padding: 1rem 3rem;
    font-family: "Sometimes-Times";
    font-size: 30px;
    background-image: url(/images/backgrounds/W2N_yellow_bg.jpg);
    box-shadow: 8px 8px 0px #508b90;
    cursor: pointer;
    outline: none;
  }
}
