@font-face {
  font-family: "Zetkin-WideOblique";
  src: url(/fonts/Zetkin-WideOblique.otf);
}

@font-face {
  font-family: "Zetkin-Wide";
  src: url(/fonts/Zetkin-Wide.otf);
}

@font-face {
  font-family: "Sometimes-Times";
  src: url(/fonts/Sometimes-Times.ttf);
}

@font-face {
  font-family: "Sometimes-Times";
  font-style: italic;
  src: url(/fonts/Sometimes-Times-Italic.ttf);
}
