footer.footer-primary {
  .bg-left,
  .bg-right {
    position: fixed;
    z-index: 16;
    width: 1525px;
    height: 46px;
    background-size: 1525px;
    background-repeat: no-repeat;
    background-image: url(/images/backgrounds/bottom-edge.png);
    bottom: -1px;
  }
  .bg-left {
    mask-image: linear-gradient(
      90deg,
      black 40px,
      transparent 1%,
      black 1%,
      rgba(0, 0, 0, 1) 56%,
      rgba(0, 212, 255, 0) 68%
    );
    left: 0px;
    z-index: 17;
    @include media-breakpoint-down(lg) {
      width: 130%;
      mask-image: linear-gradient(90deg, black 39%, rgba(0, 212, 255, 0) 47%);
    }
    @include media-breakpoint-down(sm) {
      width: 180%;
    }
  }
  .bg-right {
    mask-image: linear-gradient(
      90deg,
      rgba(0, 212, 255, 0) 30%,
      rgba(0, 0, 0, 1) 46%
    );
    right: 0px;
    @include media-breakpoint-down(lg) {
      mask-image: linear-gradient(90deg, rgba(0, 212, 255, 0) 61%, black 66%);
    }
    @include media-breakpoint-down(sm) {
      mask-image: linear-gradient(90deg, rgba(0, 212, 255, 0) 70%, black 43%);
      height: 34px;
    }
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
