body {
  // background-image: url("/images/backgrounds/W2N_edges_extra-long.png");
  background-size: cover;
  background-image: url("/images/backgrounds/W2N_blue_bg-repeating.jpg");
  margin: 0;
  @include media-breakpoint-down(sm) {
    background-size: contain;
  }
}

.background {
  // background-image: url("/images/backgrounds/W2N_blue_bg-repeating.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  height: 100%;
}

.tt-widget {
  margin: 3rem auto;
  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }
}

.edges {
  width: 100%;
  position: absolute;
}

.dark {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 10%, transparent);
}

.edge-right,
.edge-right-double {
  background-image: url("/images/backgrounds/right-edge.png");
  height: 1860px;
  background-size: 104px;
  background-repeat-y: repeat;
  background-repeat-x: no-repeat;
  position: absolute;
  width: 104px;
  right: 0;
  top: -55px;
  z-index: 15;
}

.edge-left,
.edge-left-double {
  background-image: url(/images/backgrounds/left-edge.png);
  height: 1860px;
  background-size: 104px;
  background-repeat-y: repeat;
  background-repeat-x: no-repeat;
  position: absolute;
  width: 120px;
  left: 0;
  top: 25px;
  z-index: 15;
}

.edge-left,
.edge-left-double,
.edge-right,
.edge-right-double {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

// .edge-right-double {
//   background-image: url("/images/backgrounds/edge-left.png");
//   z-index: -1;
//   width: 250px;
//   background-size: 250px;
//   transform: rotateX(180deg) rotateY(180deg);
//   filter: brightness(0.8);
// }

.edge-left-double {
  background-image: url("/images/backgrounds/left-edge.png");
  z-index: 14;
  background-size: 104px;
  top: -500px;
  filter: brightness(0.8);
}

.edge-top {
  background-image: url("/images/backgrounds/edge-top.png");
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 118%;
  left: -105px;
  top: -60px;
  z-index: -1;
}

.edge-bottom {
  // background-image: url("/images/backgrounds/edge-bottom.png");
  height: 1860px;
  background-size: 200px;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.image-dynamic {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -1;

  @include media-breakpoint-down(sm) {
    width: 70px;
  }
}

.moon {
  background-image: url("/images/fills/moon.png");
  right: 20%;
  top: 60px;
  @include media-breakpoint-down(sm) {
    right: 10%;
  }
  animation: bob 4s ease-in-out infinite;
  @keyframes bob {
    0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
}

.lines {
  background-image: url("/images/fills/lines.png");
  left: 10%;
  width: 500px;
  height: 500px;
  top: 530px;
}

.people {
  background-image: url("/images/fills/people.png");
  left: 10%;
}
.flower {
  background-image: url("/images/fills/flower.png");
  left: 20%;
}
.tents {
  background-image: url("/images/fills/tents.png");
  right: 20%;
}

.star1 {
  background-image: url("/images/fills/star.png");
  left: 25%;
  top: 120px;

  @include media-breakpoint-down(sm) {
    left: 10%;
    top: 30px;
  }

  animation: spin 5s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.star2 {
  background-image: url("/images/fills/star.png");
  left: 50%;
  background-size: 60%;
  top: 80px;

  @include media-breakpoint-down(sm) {
    left: 40%;
    background-size: 60%;
    top: 105px;
  }

  animation: spin 4s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.star3 {
  background-image: url("/images/fills/star.png");
  right: 10%;
  top: 800px;

  background-size: cover;
  width: 500px;
  height: 500px;
  animation: spin 12s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.star4 {
  left: 65%;
  background-image: url("/images/fills/star.png");
  top: 440px;

  @include media-breakpoint-down(sm) {
    left: 72%;
    top: 260px;
  }

  animation: spin 4s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.star5 {
  left: 30%;
  background-image: url("/images/fills/star.png");
  top: 400px;

  @include media-breakpoint-down(sm) {
    left: 7%;
    top: 390px;
  }

  animation: spin 4s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
