body {
  // background-image: url("/images/backgrounds/W2N_edges_extra-long.png");
  background-size: cover;
  background-image: url("/images/backgrounds/W2N_blue_bg.jpg");
  position: relative;
  margin: 0;
  @include media-breakpoint-down(sm) {
    background-size: 100vh;
  }
}

.background {
  // background-image: url("/images/backgrounds/W2N_blue_bg.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  height: 100%;
}

div.splash {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }
  @include media-breakpoint-down(sm) {
    justify-content: flex-start;
    padding-top: 1rem;
  }

  .title-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @include media-breakpoint-down(lg) {
      align-items: center;
    }
    h1.title {
      font-family: "Sometimes-Times";
      font-style: italic;
      margin: 0 auto;
      color: #48484a;
      font-size: 6rem;
      position: relative;
      padding: 0 1rem;
      @include media-breakpoint-down(lg) {
        font-size: 4rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 3rem;
        text-align: center;
      }
    }
    p {
      padding: 0.3rem;
      font-family: "Sometimes-Times";
      font-size: 1rem;
      margin: 0;
      font-style: italic;
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }
  }

  div.cta-container {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    button#buy-splash {
      border: 15px solid white;
      border-radius: 3px;
      padding: 1rem 3rem;
      font-family: "Sometimes-Times";
      font-size: 30px;
      background-image: url(/images/backgrounds/W2N_yellow_bg.jpg);
      box-shadow: 8px 8px 0px #508b90;
      cursor: pointer;
      outline: none;
      transition: margin-left, margin-top, box-shadow;
      transition-duration: 0.2s;
      -moz-transition-timing-function: ease-in-out;
      &:hover {
        margin-left: -2px;
        margin-top: -5px;
        box-shadow: 9px 13px 0px #508b90;
      }
      &:focus {
        margin-left: -2px;
        margin-top: -5px;
        box-shadow: 9px 13px 0px #508b90;
      }
    }
  }
}

.tt-widget {
  margin: 3rem auto;
  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }
}

.edges {
  width: 100%;
  position: absolute;
}

.overlay {
  // background-image: url("/images/backgrounds/seamless-water.jpg");
  // background-size: 100vw;
  // position: absolute;
  // background-repeat-y: no-repeat;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // height: 100vh;
  // width: 100vw;
  // -webkit-mask-image: linear-gradient(to bottom, black, transparent);
  // mask-image: linear-gradient(to bottom, black, transparent);
  // pointer-events: none;
  // z-index: -1;
  // opacity: 0.4;
  // width: 200vw;
  // left: -100vw;
  // filter: blur(10px);
  // animation: pan 20s linear infinite;
  // @keyframes pan {
  //   100% {
  //     -webkit-transform: translate(100vw);
  //     transform: translate(100vw);
  //   }
  // }
}

.dark {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 10%, transparent);
}

.edge-right,
.edge-right-double {
  background-image: url("/images/backgrounds/W2N_right-edge-repeating@3x.png");
  height: 1860px;
  background-size: 200px;
  background-repeat-y: repeat;
  background-repeat-x: no-repeat;
  position: absolute;
  width: 200px;
  right: 0;
  top: 0;
}

.edge-left,
.edge-left-double {
  background-image: url("/images/backgrounds/W2N_left-edge-repeating@3x.png");
  height: 1860px;
  background-size: 200px;
  background-repeat-y: repeat;
  background-repeat-x: no-repeat;
  position: absolute;
  width: 200px;
  left: 0;
  top: 0;
}

// .edge-right-double {
//   background-image: url("/images/backgrounds/edge-left.png");
//   z-index: -1;
//   width: 250px;
//   background-size: 250px;
//   transform: rotateX(180deg) rotateY(180deg);
//   filter: brightness(0.8);
// }

// .edge-left-double {
//   background-image: url("/images/backgrounds/edge-right.png");
//   z-index: -1;
//   width: 250px;
//   background-size: 250px;
//   transform: rotateX(180deg) rotateY(180deg);
//   filter: brightness(0.8);
// }

.edge-top {
  background-image: url("/images/backgrounds/edge-top.png");
  background-image: url(/images/backgrounds/edge-top.png);
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 118%;
  left: -105px;
  top: -60px;
  z-index: -1;
}

.edge-bottom {
  // background-image: url("/images/backgrounds/edge-bottom.png");
  height: 1860px;
  background-size: 200px;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.artists {
  width: 70%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 0 auto;
  margin-top: 75vh;

  .artist {
    background-image: url("/images/backgrounds/W2N_yellow_bg.jpg");
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);
    mask-image: linear-gradient(to bottom, black, transparent);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-family: "Sometimes-Times";
      font-size: 3rem;
    }
  }
}

.image-dynamic {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -1;
}

.moon {
  background-image: url("/images/fills/moon.png");
  right: 20%;
  top: 60px;
  animation: bob 4s ease-in-out infinite;
  @keyframes bob {
    0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
}

.lines {
  background-image: url("/images/fills/lines.png");
  left: 10%;
  width: 500px;
  height: 500px;
  top: 530px;
}

.people {
  background-image: url("/images/fills/people.png");
  left: 10%;
}
.flower {
  background-image: url("/images/fills/flower.png");
  left: 20%;
}
.tents {
  background-image: url("/images/fills/tents.png");
  right: 20%;
}
.star1 {
  background-image: url("/images/fills/star.png");
  left: 25%;
  top: 120px;
  animation: spin 5s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.star2 {
  background-image: url("/images/fills/star.png");
  left: 50%;
  background-size: 60%;
  top: 80px;
  animation: spin 4s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.star3 {
  background-image: url("/images/fills/star.png");
  right: 10%;
  top: 800px;
  background-size: cover;
  width: 500px;
  height: 500px;
  animation: spin 12s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.star4 {
  left: 60%;
  background-image: url("/images/fills/star.png");
  top: 500px;
  animation: spin 4s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.star5 {
  left: 30%;
  background-image: url("/images/fills/star.png");
  top: 400px;
  animation: spin 4s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
