body {
  position: relative;
  margin: 0;
  min-height: 1500px;
  background-image: url("/images/backgrounds/W2N_blue_bg-repeating.jpg");
  background-size: cover;
}

.background {
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  height: 100%;
}

.tt-widget {
  margin: 3rem auto;
  padding: 1rem;
  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }
}

.overlay-container {
  filter: hue-rotate(16deg);
  mask-image: linear-gradient(to bottom, black, transparent);
  overflow-x: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
  video {
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
  .first {
    left: -100vw;
  }
  .second {
    left: 0vw;
  }
}
.edge-left,
.edge-right {
  background-image: url("/images/backgrounds/right-edge.png");
  min-height: 100%;
  background-size: 104px;
  background-repeat-y: repeat;
  background-repeat-x: no-repeat;
  position: absolute;
  width: 104px;
  right: 0;
  top: 0px;
  z-index: 15;
}

.edge-left {
  background-image: url(/images/backgrounds/left-edge.png);
  width: 104px;
  top: 25px;
  left: -1px;
}

.edge-left,
.edge-right {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.video-container {
  width: 80%;
  max-width: 680px;
  margin: 0 auto;
  min-height: 400px;
  position: relative;
  margin-bottom: 5rem;
  .embedded-video {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
  }
}

.separator {
  display: grid;
  grid-template-columns: 2.5fr 1fr 2.5fr;
  grid-column-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include media-breakpoint-down(sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  img {
    max-width: 150px;
    min-width: 60px;
    margin: 0 auto;
    position: static;
  }
  div {
    width: 100%;
    height: 0px;
    @extend %border-texture;
    opacity: 0.5;
  }
}

.merchandise {
  h2 {
    text-align: center;
    color: $text-grey;
    padding: 1rem;
    font-family: "Sometimes-Times";
    font-size: 3.5rem;
    font-style: italic;
    margin: 0 auto;
  }

  p {
    font-family: "Zetkin-Wide";
    text-align: center;
    color: $text-grey;
    padding: 1rem;
  }

  .merch-cta {
    padding: 1rem 0;
    @extend %button-container;
  }

  .image-container {
    padding-top: 6rem;
    display: grid;
    grid-column-gap: 1rem;
    width: 80%;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;
    }
    margin: 0 auto;

    div {
      max-width: 400px;
      margin: 0 auto;
      img {
        width: 100%;
        cursor: pointer;
      }
      h4 {
        font-family: "Zetkin-Wide";
        text-align: center;
        color: $text-grey;
        cursor: pointer;
      }

      &.lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 100;
        background: rgba(0, 0, 0, 0.7);
        max-width: none;
        img {
          height: auto;
          width: 80vw;
          max-width: 800px;
          margin: 0 auto;
        }
        h4 {
          color: white;
        }
      }
    }
  }
}

.supported-by {
  h2 {
    text-align: center;
    color: $text-grey;
    padding: 1rem;
    font-family: "Sometimes-Times";
    font-size: 3.5rem;
    font-style: italic;
    margin: 0 auto;
  }
  img {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    padding-bottom: 4rem;
    padding-top: 0px;
    width: 90%;
    margin-top: -4rem;
  }
}

.images-container {
  position: relative;
  img {
    animation: bob 4s ease-in-out infinite;
    @keyframes bob {
      0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
      }
      50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
      }
      100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
      }
    }
  }

  .people {
    right: 16%;
    width: 15%;
    min-width: 150px;

    @include media-breakpoint-down(sm) {
      right: 5%;
      width: 25%;
      top: 210px;
      min-width: auto;
    }
  }
  .flower {
    right: calc(50% - 75px);
    min-width: 150px;
    top: 300px;
    animation-delay: 300ms;
    @include media-breakpoint-down(sm) {
      right: calc(50% - 50px);
      width: 25%;
      top: 200px;
      min-width: auto;
    }
  }
  .tents {
    left: 15%;
    width: 15%;
    min-width: 150px;
    animation-delay: 600ms;
    @include media-breakpoint-down(sm) {
      left: 5%;
      width: 25%;
      top: 210px;
      min-width: auto;
    }
  }
}

.image-dynamic {
  width: 100px;
  height: auto;
  position: absolute;
  z-index: -1;

  @include media-breakpoint-down(sm) {
    width: 70px;
  }
}

.moon {
  right: 20%;
  top: 60px;
  @include media-breakpoint-down(sm) {
    right: 10%;
  }
  animation: bob 4s ease-in-out infinite;
  @keyframes bob {
    0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
}

.lines {
  left: 10%;
  width: 40%;
  max-width: 400px;
  top: 630px;
}

.everyone-welcome {
  right: 10%;
  width: 40%;
  max-width: 100px;
  top: 80vh;
  animation: spin 40s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
}

.star1 {
  left: 25%;
  top: 120px;

  @include media-breakpoint-down(sm) {
    left: 10%;
    top: 30px;
  }

  animation: spin 5s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.star2 {
  left: 50%;
  background-size: 60%;
  top: 80px;

  @include media-breakpoint-down(sm) {
    left: 40%;
    background-size: 60%;
    top: 105px;
  }

  animation: spin 4s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.star3 {
  right: 10%;
  top: 800px;

  background-size: cover;
  width: 500px;
  height: 500px;
  animation: spin 12s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.star4 {
  left: 65%;
  top: 440px;

  @include media-breakpoint-down(sm) {
    left: 72%;
    top: 260px;
  }

  animation: spin 4s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.star5 {
  left: 30%;
  top: 400px;

  @include media-breakpoint-down(sm) {
    left: 7%;
    top: 390px;
  }

  animation: spin 4s linear infinite;
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
