div.splash {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 5rem;
  min-height: 100vh;
  @include media-breakpoint-down(sm) {
    padding-bottom: 0rem;
  }
  .title-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0.5rem;
    }
    h1.title {
      font-family: "Sometimes-Times";
      font-style: italic;
      margin: 0 auto;
      font-size: 114px;
      position: relative;
      padding: 3rem 0;
      max-width: 540px;
      text-align: center;
      line-height: 130px;
      padding-bottom: 1rem;
      @extend %heading-texture;
      @include media-breakpoint-down(sm) {
        font-size: 3rem;
        line-height: 4rem;
        padding: 1rem 0 0rem;
      }
    }
    p {
      padding: 0.3rem;
      font-family: "Zetkin-Wide";
      font-size: 20px;
      margin: 0 auto;
      text-align: center;
      color: $text-grey;
      max-width: 320px;
      &:nth-of-type(2) {
        padding: 1.5rem 0;
        @include media-breakpoint-down(sm) {
          padding: 1rem;
        }
      }
      &:last-of-type {
        padding: 1.5rem 2rem;
        max-width: none;
      }
      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
  }
}

.splash.loading-screen {
  background: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  padding-top: 114px;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  @include media-breakpoint-down(sm) {
    padding-top: 110px;
  }
  &.clear {
    opacity: 0;
  }
  &.hide {
    display: none;
  }
}
