.tickets-anchor {
  h2 {
    text-align: center;
    color: #4a4a4a;
    padding: 1rem;
    font-family: "Sometimes-Times";
    font-size: 3.5rem;
    font-style: italic;
    margin: 0 auto;
  }
  padding: 2rem 0 5rem;
  @include media-breakpoint-down(sm) {
    padding: 2rem 0 5rem;
  }
}
