.faqs
  h2
    | FAQs

  p
    |
      I know this is Welcome to Nowhere but where the hell is it??

  p
    |
      Welcome to Nowhere is held on an isolated piece of regenerating bush on a farm half way between Whanganui and Hunterville. We can’t tell you exactly where the location is yet but we can tell you that there is a swimming hole, natural amphitheatre and miles of sprawling native bush! Destination details and directions will be released to ticket holders closer to the time of the event.

  p
    |
      What can I expect at Welcome to Nowhere?

  p
    |
      Two jam packed summer days/nights of music, poetry, comedy and art in a remote and idyllic setting! We have curated two stages to showcase some of NZ’s finest independent music acts and up-and-coming poets and comedians. We are a small collective run festival, so you can expect a close knit community event where everybody looks out for one another.

  p
    |
      Who’s performing?

  p
    |
      We’ve put together what we reckon is a pretty exciting and eclectic line-up. We’ll be announcing the first round of artists in early September.

  p
    |
      Can I bring my dog?

  p
    |
      Yes. But only if your pup is trained and socialised. We don’t want any cases of biting dogs!

  p
    |
      Can I bring my kids?

  p
    |
      You sure can. Welcome to Nowhere is a family-friendly festival, so long as all children under 18 are accompanied by a guardian. Just make sure you keep an eye on young kids as there are a number of hazards around the site.

  p
    |
      Can I sleep in my car?

  p
    |
      There are specific areas for tents/camping and campervan/caravans/vans. You can’t drive into the camping area but you can sleep in your car in the designated car park areas.

  p
    |
      What if the festival is cancelled due to Covid-19?

  p
    |
      In the event that the festival is cancelled due to Covid-19 (alert level 2 and above) we are offering two contingency options. We can either save your ticket for the following year’s festival or offer an undetermined partial refund after our costs have been covered.

  p
    |
      Is there clean water for drinking and showers?

  p
    |
      We have fresh water tanks on site that are suitable for drinking. There are no showering facilities.

  p
    |
      Can I busk?

  p
    |
      No.

  p
    |
      How do I apply to play at the festival?

  p
    | We aren’t taking artist applications and have already booked our line up for Welcome to Nowhere 2021. If you are interested in playing an Eyegum Wednesday or the next festival please hit us up with some links to your music at
    a href="mailto:eyegum.music@gmail.com."  eyegum.music@gmail.com.

  p
    |
      What food and drink is available?

  p
    |
      There will be a handful of vendors selling food and drinks including Two Girls One Taco (which you can pre order with your ticket), Good Boy Sammies and more to be announced soon. Make sure you bring plenty of cash.

  p
    |
      What is accessibility like at the festival?

  p
    | The festival site is made up of varying terrain, some of which is quite rugged and steep and may be difficult for some to safely navigate. If you have any questions or concerns about accessibility at Welcome to Nowhere please feel free to get in touch at
    a href="mailto:eyegum.music@gmail.com."  eyegum.music@gmail.com.

  p
    |
      What if I need to get supplies? Are there any towns nearby?

  p
    | The nearest town is Whanganui, about 30 minutes drive away. Not only is it a great place to stock up, but it is also a beautiful city with lots to see and do. Why not check it out while you’re in the area, or even stay a night. To find out more visit
    a href="https://www.visitwhanganui.nz"  https://www.visitwhanganui.nz

  p
    |
      Is there a payment plan for purchasing tickets?

  p
    | Yes there is. If you’d like to find out more send an email to
    a href="mailto:eyegum.music@gmail.com."  eyegum.music@gmail.com

  p
    |
      This all sounds great, I can’t wait! When does it start?

  p
    |
      The main event runs across Saturday 6 and Sunday 7 February 2021, but you can arrive as early as Friday afternoon to snag a good camp spot. Once you’re there you can stay until Monday, and since it’s a public holiday there’s no need to rush back home.