<div class="background"></div>

<div class="overlay"></div>

<!-- <img src="/images/backgrounds/W2N_edges_extra-long.png" alt="" class="edges" /> -->

<!-- <div class="dark"></div> -->

<div class="splash">
  <h1 class="title">
    <p>EYEGUM PRESENTS...</p>
    Welcome to Nowhere
  </h1>
  <p></p>
  <div class="cta-container">
    <button id="buy-splash">Buy Tickets</button>
  </div>
</div>

<div class="artists">
  <% data.artists.each do |artist, number| %>
    <div class="artist">
      <h3><%= artist.name %></h3>
      <p><%= artist.body %></p>
    </div>
  <% end %>
</div>

<!-- <div class="edge-right"></div> -->
<!-- <div class="edge-right-double"></div> -->
<!-- <div class="edge-left"></div> -->
<!-- <div class="edge-left-double"></div> -->
<!-- <div class="edge-top"></div> -->
<!-- <div class="edge-bottom"></div>   -->

<div class="everyone-welcome"></div>

<div class="image-dynamic people"></div>
<div class="image-dynamic flower"></div>
<div class="image-dynamic tents"></div>
<div class="image-dynamic moon"></div>
<div class="image-dynamic lines"></div>
<div class="image-dynamic star1"></div>
<div class="image-dynamic star2"></div>
<!-- <div class="image-dynamic star3"></div> -->
<div class="image-dynamic star4"></div>
<div class="image-dynamic star5"></div>

<div class="sun"></div>

<%#= partial "partials/ticket-widget" %>
