<div class="background"></div>

<div class="splash">
  <div class="title-container">
    <p>EYEGUM PRESENTS...</p>
    <h1 class="title">
      Welcome to Nowhere
    </h1>
    <p></p>
  </div>
  <%= partial "partials/ticket-widget" %>
</div>
